$space-font: 'Space Mono';
$legend-font: 'Lexend Deca';
/*
**************************** COLORS ****************************
*/

$white-color:#ffffff;
$yellow-color: #FCB72B;
$dark-color: #495567;
$bac-color:#333A44;
$dim-grey: #939CAA;
$light-grey: #E5ECF4;
$snow-color: #F2F5F9;
$light-yellow:#FFF4DF;




/**************************** FONTS ****************************
*/

$font-weight-bold:700;
$font-weight-normal:400;

/**************************** TITTLE****************************
*/

$tittle-middle-size:5.6rem;
$tittle-middle-line:1;

$tittle-normal-size:4.8rem;
$tittle-normal-line:1;

$tittle-easy-size:2.4rem;
$tittle-easy-line:1.16;

$tittle-mobile-size:3.2rem;
$tittle-mobile-line:1;
/**************************** TEXT ****************************
*/

$text-size:1.5rem;
$text-line:1.67;

$mobile-title-size: 2rem;
$mobile-title-line:1.2;

$mobile-text-size:1rem;
$mobile-text-line:1.5;