main{
    flex-grow: 1;
}

/*
*************************** HERO SECTION ***************************
*/

.hero{
        @include responsive (tablet){
            padding-bottom: 10rem;
        }
        @include responsive (mobile){
            padding-bottom: 15rem;
        }
        background: url(/images/hero-bac.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.hero::after{
    content: "";
    background:url(/images/hero-center-bac.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 435px;
    right: 158px;
    width: 450px;
    height: 100%;
    @include responsive (tablet){
        top: 635px;
        left: 0;
    }
    @include responsive (mobile){
        margin-top: 5rem;
        left: -13rem;
        top: 735px;
    }
    @include responsive (mobilemin){
        left: -20rem;
    }
}
.hero::before{
    content: "";
    background: url(/images/hero-left-bac-1.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 433px;
    left: 0;
    width: 202px;
    height: 200px;
    @include responsive (tablet){
        display: none;
    }
}
.hero {
    
    &__tittle{
    max-width: 52rem;
    padding-top: 15.3rem;
    margin-bottom: 4rem;
    @include font ($font-weight-bold, $tittle-middle-size, $tittle-middle-line, $white-color);
    @include responsive (tablet){
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    }
    &__text{
    font-family: $legend-font;
    @include font ($font-weight-normal, $text-size, $text-line, $white-color);
    max-width: 54rem;
    margin-bottom: 4rem;
    margin-left: 10%;
    @include responsive (tablet){
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    }
    &__btn{
        margin-bottom: 15.3rem;
        margin-left: 10%;
        @include responsive (tablet){
            margin-left: 0%;
        }
    }
}
.hero-container {
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
    }
}

/*
*************************** HERO SECTION ***************************
*/
.chance {

background: url(/images/chance-left-bac.svg);
background-repeat:no-repeat;
background-position: left top 20rem;
padding-top: 16rem;
padding-bottom: 20rem;
@include responsive (tabletmin){
background: none;
}
}
.chance__list {
    @include center;
    column-gap: 3rem;
    @include responsive (tabletmin){
        flex-direction: column;
    }
}
.chance__item {
    
    &__img{
    padding: 2rem 2rem;
    border-radius: 50%;
    background-color: $yellow-color;
    margin-bottom: 4rem;
    @include responsive (tabletmin){
        margin-left: 38%;
    }
    }
    &__text{
    max-width: 35rem;
    font-family: $legend-font;
    @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
    @include responsive (tabletmin){
        text-align: center;
        max-width: 45rem;
    }
    }
    &__tittle{
    max-width: 35rem;
    @include font ($font-weight-bold, $tittle-easy-size, $tittle-easy-line, $dark-color);
    margin-bottom: 2.7rem;
    @include responsive (tabletmin){
        text-align: center;
        max-width: 45rem;
    }
    }
    @include responsive (tabletmin){
        &:not(:last-child){
            margin-bottom: 3rem;
        }
    }
}

/*
*************************** TELEMENTRY ***************************
*/
.amenities{
padding-top: 5rem;
padding-bottom: 30rem;
// position: relative;
// background: url(/images/telementry-right-bac.svg);
// background-repeat: no-repeat;
// background-position: right bottom 30rem;
// z-index: 2;
}

.telementry::before{
    content: "";
    background-image: url(/images/female.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:-74px;
    right: 50px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 0rem;
    }
    @include responsive (tablet){
        top: -100px;
        left: 22%;
        right: 0;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: 0;
        left: 15%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.telementry::after{
    content: "";
    background-image: url(/images/arrow-left.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 734px;
    height: 100%;
    top: 230px;
    
    right: 0;
    @include responsive (tablet){
    top: 130px;
    
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 130px;
    }
    @include responsive (mobilemin){
        top: 5px;
        width: 300px;
    }
    @include responsive (mobilemaxmin){
        width: 250px;
        right: 0;
    }
}
.telementry {
    @include responsive (tablet){
        padding-top: 35rem;
    }
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tabletmin){
        flex-direction: column;
    }
}
.telementry__info {
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__tittle{
    max-width: 49.5rem; 
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 2.4rem;
    @include responsive (mobilemin){
        font-size: 3.2rem;
        line-height: 1;
        margin-top: -20rem;
    }
    }
    &__text{
        font-family: $legend-font;
        max-width: 49.5rem; 
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
        margin-bottom: 4rem;
    }
}

// COMING
.coming::before{
    content: "";
    background-image: url(/images/city-img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:34px;
    right: 0;
    left: 50px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 9rem;
    }
    @include responsive (tablet){
        top: -100px;
        left: 25%;
        right: 0;
        margin-top: 8rem;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: -100px;
        left: 23%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
        top: 100px;
        left: 58px;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.coming::after{
    content: "";
    background-image: url(/images/better-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 644px;
    height: 100%;
    top: 50px;
    left: 0;
    @include responsive (tablet){
        width: 744px;
        top: 10px;
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 0px;
        left: -110px;
    }
    @include responsive (mobilemin){
        top: 10px;
        left: -150px;
    }
    @include responsive (mobilemaxmin){
        left: -160px;
        top: -130px;
    }
}
.coming{
    margin-top: 10rem;
    margin-bottom: 25rem;
    padding-top: 15rem;
    padding-bottom: 0rem;
    @include responsive (tablet){
        padding-top: 35rem;
    }
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tablet){
        padding-top: 15rem;
    }
    @include responsive (tabletmin){
        flex-direction: column;
        padding-top: 20rem;
    }
    @include responsive (mobile){
        padding-top: 20rem;
        }
    @include responsive (mobilemin){
        padding-top: 40rem;
    }
}
.coming-right{
display: block;
margin-left: auto;
@include responsive (tablet){
    margin-right: auto;
}
}
.coming__info {
    margin-top: -50px;
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 15rem;
    }
    &__tittle{
    max-width: 49.5rem; 
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 2.4rem;
    @include responsive (tablet){
        margin-top: 10rem;
    }
    @include responsive (mobilemin){
        font-size: 3.2rem;
        line-height: 1;
        margin-top: -20rem;
    }
    }
    &__text{
        font-family: $legend-font;
        max-width: 49.5rem; 
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
        margin-bottom: 4rem;
    }
}

// COMING-END
// PAYMENTS
.payments{
    @include responsive (tablet){
        padding-top: 35rem;
    }
    margin-top: 15rem;
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tabletmin){
        flex-direction: column;
    }
}

.payments::before{
    content: "";
    background-image: url(/images/payments-img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:-74px;
    right: 150px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 0rem;
    }
    @include responsive (tablet){
        top: 0;
        left: 22%;
        right: 0;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: 0;
        left: 15%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.payments::after{
    content: "";
    background-image: url(/images/pyments-right-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 334px;
    height: 100%;
    top: 10px;
    right: 0;
    @include responsive (tablet){
    top: 230px;
    
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 130px;
    }
    @include responsive (mobilemin){
        top: 5px;
        width: 300px;
    }
    @include responsive (mobilemaxmin){
        width: 250px;
        right: 0;
    }
}
// PAYMENTS-END



/*
*************************** ABOUT ***************************
*/
.mobility::before{
    content: "";
    background-image: url(/images/mobility.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:34px;
    right: 50px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 9rem;
    }
    @include responsive (tablet){
        top: 0;
        left: 25%;
        right: 0;
        margin-top: 8rem;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: 0;
        left: 23%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
        top: 120px;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.mobility::after{
    content: "";
    background-image: url(/images/mobility-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 644px;
    height: 100%;
    top: 250px;
    
    right: 0;
    @include responsive (tablet){
    top: 230px;
    width: 744px;
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 130px;
    }
    @include responsive (mobilemin){
        top: 85px;
        width: 300px;
    }
    @include responsive (mobilemaxmin){
        width: 250px;
        right: 0;
    }
}
.mobility {
    padding-top: 15rem;
    padding-bottom: 5rem;
    @include responsive (tablet){
        padding-top: 35rem;
    }
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tabletmin){
        flex-direction: column;
    }
    @include responsive (mobilemin){
        padding-top: 50rem;
    }
}
.mobility__info {
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__tittle{
    max-width: 49.5rem; 
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 2.4rem;
    @include responsive (tablet){
        margin-top: 10rem;
    }
    @include responsive (mobilemin){
        font-size: 3.2rem;
        line-height: 1;
        margin-top: -20rem;
    }
    }
    &__text{
        font-family: $legend-font;
        max-width: 49.5rem; 
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
        margin-bottom: 4rem;
    }
}

// BETTER

.better::before{
    content: "";
    background-image: url(/images/better.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:34px;
    right: 0;
    left: 50px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 9rem;
    }
    @include responsive (tablet){
        top: -200px;
        left: 25%;
        right: 0;
        margin-top: 8rem;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: -100px;
        left: 23%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
        top: 10px;
        left: 58px;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.better::after{
    content: "";
    background-image: url(/images/better-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 644px;
    height: 100%;
    top: 50px;
    left: 0;
    @include responsive (tablet){
    top: -90px;
    width: 744px;
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 0px;
        left: -110px;
    }
    @include responsive (mobilemin){
        top: -100px;
        left: -150px;
    }
    @include responsive (mobilemaxmin){
        left: -160px;
        top: -130px;
    }
}
.better{
    padding-top: 15rem;
    padding-bottom: 5rem;
    @include responsive (tablet){
        padding-top: 35rem;
    }
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tablet){
        padding-top: 15rem;
    }
    @include responsive (tabletmin){
        flex-direction: column;
        padding-top: 20rem;
    }
    @include responsive (mobile){
        padding-top: 20rem;
        }
    @include responsive (mobilemin){
        padding-top: 40rem;
    }
}
.better-right{
display: block;
margin-left: auto;
@include responsive (tablet){
    margin-right: auto;
}
}
.better__info {
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__tittle{
    max-width: 49.5rem; 
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 2.4rem;
    @include responsive (tablet){
        margin-top: 10rem;
    }
    @include responsive (mobilemin){
        font-size: 3.2rem;
        line-height: 1;
        margin-top: -20rem;
    }
    }
    &__text{
        font-family: $legend-font;
        max-width: 49.5rem; 
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
        margin-bottom: 4rem;
    }
}
/*
*************************** VALUES-SECTION ***************************
*/
.values {
    padding-bottom: 12rem;
    padding-top: 5rem;
    &__title{
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    text-align: center;
    }
    @include responsive (mobilemin){
        font-size: 3.2rem;
    }
    &__list{
    @include center;
    justify-content: space-between;
    @include responsive (tabletmin){
        flex-direction: column;
    }
    }
    // &__number{
    // position: absolute;
    // // top: 18rem;
    // // left: 14rem;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 50%);
    // padding: 2rem 2rem;
    // border-radius: 50%;
    // background-color: $yellow-color;
    // @include responsive (tablet){
    //     top: 18rem;
    //     left: 11rem;
    // }
    // @include responsive (tabletmin){
    //     left: 14rem;
    // }
    // @include responsive (mobilemin){
    //     left: 14rem;
    //     font-size: 1.5rem;
    //     // padding: 0.5rem 0.5rem;
    // }
    // @include responsive (mobilemaxmin){
    //     left: 12rem;
    // }
    
    &__item{
    // position: relative;
        &__images{
            position: relative;
        }
        &__number{
            position: absolute;
            bottom: 0;
            left: 48%;
            transform: translate(-50%, 50%);
        }
        &__img{
        border-radius: 50%;
        margin-top: 7.5rem;
        margin-left: 29%;
        }
        &__title{
            max-width: 35rem;
            @include font ($font-weight-bold, $tittle-easy-size, $tittle-easy-line, $dark-color);
            margin-bottom: 2.7rem;
            margin-top: 5.2rem;
            text-align: center;
        }
        &__text{
            font-family: $legend-font;
            max-width: 35rem;
            @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
            text-align: center;
        }
    }
}

/*
*************************** FAQ-SECTION ***************************
*/

.faq {
    padding-bottom: 16rem;
    &__title{
    text-align: center;
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 6.4rem;
    }
}
.faq__info {
    display: flex;
    justify-content: space-between;
    @include responsive (tablet){
        flex-direction: column;
    }
    &:not(:last-child){
        margin-bottom: 6.4rem;
    }
&__title{
max-width: 35rem;
@include font ($font-weight-bold, 4rem, 1.2, $dark-color);
@include responsive (tablet){
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.2rem;
}
@include responsive (mobilemin){
    font-size: 3.2rem;
}
}
&__list{
max-width: 73rem;

}
&__item{
    padding: 3.2rem 4rem;
    background-color: $snow-color;
    &:not(:last-child){
        margin-bottom: 1.6rem;
    }
    &:hover{
        background-color: $light-yellow;
    }
    &__title{
    @include center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
        &__text{
        @include font ($font-weight-bold, $tittle-easy-size, $tittle-easy-line, $dark-color);
    }
    }
    &__text{
        font-family: $legend-font;
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
    }
}
}


/*
*************************** CAREERS PAGES ***************************
*/


/*
*************************** MISSION-SECTION ***************************
*/
.missions::before{
    content: "";
    background-image: url(/images/missions-img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 445px;
    height: 445px;
    top:34px;
    right: 50px;
    border-radius: 50%;
    @include responsive (desctop){
        width: 350px;
        height: 350px;
        top: 9rem;
    }
    @include responsive (tablet){
        top: 0;
        left: 25%;
        right: 0;
        margin-top: 8rem;
    }
    @include responsive (mobile){
        width: 300px;
        height: 300px;
        top: 0;
        left: 23%;
        right: 0;
    }
    @include responsive (mobilemin){
        width: 250px;
        height: 250px;
        margin-top: -10rem;
        top: 120px;
    }
    @include responsive (mobilemaxmin){
        width: 200px;
        height: 200px;
    }
}
.missions::after{
    content: "";
    background-image: url(/images/arrow-left.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 734px;
    height: 100%;
    top: 330px;
    
    right: 0;
    @include responsive (tablet){
    top: 230px;
    
    
    }
    @include responsive (tabletmin){
        width: 534px;
        height: 100%;
    }
    @include responsive (mobile){
        height: 100%;
        width: 354px;
        top: 130px;
    }
    @include responsive (mobilemin){
        top: 85px;
        width: 300px;
    }
    @include responsive (mobilemaxmin){
        width: 250px;
        right: 0;
    }
}
.missions {
    padding-top: 10rem;
    padding-bottom: 5rem;
    @include responsive (tablet){
        padding-top: 35rem;
    }
    position: relative;
    @include center;
    margin-bottom: 5rem;
    @include responsive (tabletmin){
        flex-direction: column;
    }
    @include responsive (mobilemin){
        padding-top: 50rem;
    }
}
.missions__info {
    @include responsive (tablet){
        @include center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    &__tittle{
    max-width: 49.5rem; 
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    margin-bottom: 2.4rem;
    @include responsive (tablet){
        margin-top: 10rem;
    }
    @include responsive (mobilemin){
        font-size: 3.2rem;
        line-height: 1;
        margin-top: -20rem;
    }
    }
    &__text{
        font-family: $legend-font;
        max-width: 49.5rem; 
        @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
        margin-bottom: 4rem;
    }
}

/*
*************************** OCCUPATIONS-SECTION ***************************
*/

.occupations {
    padding-bottom: 16rem;
}

.occupation {
    @include center;
    padding: 3.2rem 4rem;
    justify-content: space-between;
    background-color: $snow-color;
    &:not(:last-child){
        margin-bottom: 2.4rem;
    }
    @include responsive (mobile){
        flex-direction: column;
    }
}
.occupation__info {
    &__text{
    max-width: 45rem;
    font-family: $legend-font;
    @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
    @include responsive (mobile){
        text-align: center;
        margin-bottom: 1.6rem;
    }
    }
    &__title{
    max-width: 30rem;
    @include font ($font-weight-bold, $tittle-easy-size, $tittle-easy-line, $dark-color);
    margin-bottom: 0.8rem;
    @include responsive (mobile){
        text-align: center;
        margin-bottom: -0.4rem;
    }
    }
}



/*
*************************** LOCATION PAGES ***************************
*/

/*
*************************** WORLD SECTION ***************************
*/

.world {
padding-top: 14.4rem;
padding-bottom: 12rem;
@include responsive (tablet){
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@include responsive (tabletmin){
    padding-top: 0rem;
    padding-bottom: 0rem;
}
@include responsive (mobile){
    padding-top: 4rem;
    height: 121rem;
}
@include responsive (mobilemin){
    height: 121rem;
}
@include responsive (mobilemaxmin){
    height: 121rem;
    padding-top: 0rem;
}
&__list{
position: relative;
}
&__item{
position: absolute;
}
&__item__1{
    top: 18rem;
    left: 22rem;
    @include responsive (tablet){
        top: 23rem;
        left: 12rem;
    }
    @include responsive (tabletmin){
        top: 24rem;
        left: 9rem;
    }
}
&__item__2{
    top: 14rem;
    left: 42rem;
    @include responsive (tablet){
        top: 20rem;
        left: 26rem;
    }
    @include responsive (tabletmin){
        top: 21rem;
        left: 22rem;
    }
}
&__item__3{
    top: 35rem;
    left: 78rem;
    @include responsive (tablet){
        top: 34rem;
        left: 49rem;
    }
    @include responsive (tabletmin){
        top: 34rem;
        left: 42rem;
    }
}
&__item__4{
    top: 21rem;
    left: 88rem;
    @include responsive (tablet){
        top: 25rem;
        left: 55rem;
    }
    @include responsive (tabletmin){
        top: 26rem;
        left: 47rem;
    }
}
&__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
&__title{
    max-width: 45.7rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
    @include font ($font-weight-bold, $tittle-normal-size, $tittle-normal-line, $dark-color);
    @include responsive (mobile){
        margin-top: 45rem;
    }
}
&__text{
    max-width: 57.3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    @include font ($font-weight-normal, $text-size, $text-line, $dim-grey);
}
&__btn{
    // margin-left: 42%;
    
    // @include responsive (tabletmin){
    //     margin-left: 38%;
    // }
    // @include responsive (mobile){
    //     margin-left: 33%;
    // }
    //  @include responsive (mobilemin){
    //      margin-left: 25%;
    //  }
    // @include responsive (mobilemaxmin){
    //     margin-left: 15%;
    // }
}
}
.world-mobile {
    // height: 71rem;

    background: url(/images/world-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    @include responsive (desctop){
        display: none;
    }
    @include responsive (mobile){
        display: block;
        height: 20rem;
    }
    &__list{
        display: none;
        @include responsive (mobile){
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 60%;
        }
        @include responsive (mobilemin){
            padding-top: 70%;
        }
    }
    &__item{
        max-width: 31rem;
        min-width: 31rem;
        background-color: $light-yellow;
        &:not(:last-child){
            margin-bottom: 1.6rem;
        }
        @include responsive (mobilemin){
            max-width: 21rem;
            min-width: 21rem;
        }
        @include responsive (mobilemaxmin){
            max-width: 15rem;
            min-width: 15rem;
        }
        &__title{
            max-width: 12rem;
            @include font ($font-weight-bold, $tittle-easy-size, $tittle-easy-line, $dark-color);
            // padding: 2.2rem 10rem;
            padding-top: 2.2rem;
            padding-bottom: 2.2rem;
            padding-left: 10rem;
            padding-right: 10rem;
        @include responsive (mobilemin){
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @include responsive (mobilemaxmin){
            padding-left: 3rem;
            padding-right: 3rem;
            @include font ($font-weight-normal, $mobile-title-size, $mobile-title-line, $dark-color);
        }
        }
    }
}
.world-bac{
    // position: relative;
    height: 71rem;
    background: url(/images/world.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    @include responsive (desctop){
        display: block;
    }
    @include responsive (mobile){
        display: none;
    }
}